/*! BASE START */

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}

a {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.logo-img {
  width: 80px;
  height: auto;
}
button {
  border: none;
  cursor: pointer;
}
button:disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.btn {
  border: none;
  background-color: #1367ef;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #1367ef;
  transition: 0.2s all ease;
}
.btn-sm {
  padding: 1px 10px;
  line-height: 28px;
}
.btn-md {
  padding: 2px 15px;
  line-height: 33px;
}
.btn-lg {
  padding: 3px 20px;
  line-height: 38px;
}
.btn:hover {
  color: #1367ef;
  background-color: white;
}
textarea {
  overflow: auto;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: gray;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.img-fluid {
  width: 100%;
}

/*! BASE END */

/*! Container Responsive Start */
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 350px;
  }
}
.a-mobile {
  display: none;
}
@media (max-width: 590px) {
  .global-notification p span {
    display: none;
  }
  .a-mobile {
    display: block;
  }
}
/*! Container Responsive End */
