.single-product .product-gallery {
  width: 50%;
  padding-right: 15px;
}
.product-gallery .single-image-wrapper {
  overflow: hidden;
}
.product-gallery .single-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}
.product-gallery .single-image-wrapper img:hover {
  cursor: zoom-in;
}
.product-gallery .gallery-thumbs {
  /* display: flex;
  gap: 10px; */
}
.product-gallery .gallery-thumbs li {
  display: flex;
  cursor: pointer;
}
.product-gallery .gallery-thumbs li img {
  border: 1px solid transparent;
}
.product-gallery .gallery-thumbs li img:hover {
  border-color: black;
}
.product-gallery .gallery-thumbs li img.active {
  border-color: black;
}
.product-gallery .product-thumb {
  position: relative;
}
.product-gallery .glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 30px;
}
.product-gallery .glide__arrow--left {
  left: 0;
}
.product-gallery .glide__arrow--right {
  right: 0;
}
