.detail-product-info {
  width: 50%;
  padding-left: 15px;
}
.detail-product-info .product-title {
  font-size: 24px;
  font-weight: 500;
}
.detail-product-info .product-review {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-size: 14px;
}
.detail-product-info .product-star {
  display: flex;
  align-items: center;
  gap: 3px;
}
.detail-product-info .product-star i {
  color: gold;
}
.detail-product-info .product-review span {
  color: #b1b1b1;
}

.detail-product-info .product-price {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.detail-product-info .product-price s {
  font-size: 18px;
  color: #b1b1b1;
  text-decoration-line: line-through;
}
.detail-product-info .product-price p {
  font-weight: 500;
  color: #e51414;
}

.detail-product-info .product-desc {
  font-size: 14px;
  line-height: 1.4;
  margin: 10px 0;
}

.detail-product-info .colors {
  margin: 10px 0;
}
.detail-product-info .variations-form .colors .colors-label {
  font-weight: 600;
  margin-bottom: 5px 0;
}
.detail-product-info .variations-form .colors .colors-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.detail-product-info .variations-form .colors .color-wrapper {
  border: 1px solid transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  transition: 0.2s border ease;
}
.detail-product-info .variations-form .colors .color-wrapper.active {
  border-color: #e51414;
}
.detail-product-info .variations-form .colors .color-wrapper label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.detail-product-info .variations-form .colors .color-wrapper input {
  appearance: none;
}
.detail-product-info .variations-form .colors .color-wrapper:hover {
  border-color: #e51414;
}
.detail-product-info .variations-form .colors .color-wrapper .blue-color {
  background-color: blue;
}
.detail-product-info .variations-form .colors .color-wrapper .red-color {
  background-color: red;
}
.detail-product-info .variations-form .colors .color-wrapper .green-color {
  background-color: green;
}
.detail-product-info .variations-form .colors .color-wrapper .yellow-color {
  background-color: yellow;
}
.detail-product-info .variations-form .colors .color-wrapper .gray-color {
  background-color: gray;
}
.detail-product-info .values {
  margin: 10px 0;
}
.detail-product-info .values .values-label {
  font-weight: 600;
  margin-bottom: 5px 0;
}
.detail-product-info .values .values-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.detail-product-info .values .values-list span {
  display: inline-block;
  flex: 1;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 40px;
  border: 1px solid #dee0ea;
  cursor: pointer;
  transition: 0.2s ease all;
}
.detail-product-info .values .values-list span:hover {
  background-color: #e51414;
  border-color: #e51414;
  color: white;
}
.detail-product-info .values .values-list span.active {
  background-color: #e51414;
  color: white;
}
.detail-product-info .cart-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}
.detail-product-info .cart-button input {
  width: 100px;
  text-align: start;
}
.detail-product-info .cart-button button {
  width: 200px;
}
.detail-product-info .cart-button button:disabled {
  color: #1367ef;
  background-color: white;
}
.detail-product-info .product-extra-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.detail-product-info .product-extra-buttons a {
  font-size: 12px;
  color: #b1b1b1;
}
.detail-product-info .divider {
  padding-bottom: 20px;
  border-bottom: 1px solid #dee0ea;
}
.detail-product-info .product-meta {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 13px;
}
.detail-product-info .product-tags {
  display: flex;
  gap: 5px;
}
.detail-product-info .product-meta span {
  color: #b1b1b1;
}
.detail-product-info .product-meta strong {
  font-weight: 500;
}
.detail-product-info a {
  transition: 0.2s ease all;
}
.detail-product-info a:hover {
  text-decoration: underline;
}
