.campaigns .campaign-item {
  background-image: url(../../images/campaigns/banner1.png);
  padding: 70px 35px;
  background-size: cover;
  background-position: center;
  flex: 1;
  border-radius: 5px;
}
.campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) {
  background-image: url(../../images/campaigns/banner2.png);
}
.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) {
  background-image: url(../../images/campaigns/banner3.png);
  flex: 5;
}
.campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) {
  background-image: url(../../images/campaigns/banner4.png);
  flex: 3;
}
.campaigns .campaign-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: white;
}
.campaigns .campaign-description {
  margin: 40px 0;
  font-size: 14px;
  color: white;
}

@media (max-width: 768px) {
  .campaigns .campaign-item {
    width: 100%;
    flex: unset !important;
  }
}
